/* Styling ------------------------------------------------------------------ */

:root {
    --grey: #ecebeb;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    background: var(--grey);
}

/* Single entry for the entire webpage */
#entire {
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
    background: white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.banner {
    display: flex;
    align-items: left;
    gap: 50px;
}

/* General use set-ups */
.panel {
    padding: 20px;
    margin: 20px;
    background: white;
    border-color: var(--grey);
    border-width: 2px;
    border-style: solid;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}



.selection_and_info {
    display: flex;
    flex-direction: row;
    gap:60px;
    /* justify-content: space-between */
}

.info_text {
    font-size: 12px;
    color: #555;
}

.row-flex {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-around;
}

.dropdown-fill {
    min-width: 500px;
    width: 100%;
}

.dropdown-button {
    width: 300px;  /* Set the width to 100% */
}

/* Specific sections */

/* QC Data */
#qc-selectors {
    /* display: flex;
    flex-direction: row; */
    width: 50px;
}